p{
    font-size: 3cm;
    text-align: center;
    color: rgb(0, 168, 0);
    
}
body{
    background-color: yellow;
}
input{
    width: 320px;
    
    margin-left: 4cm;
}
a{
    text-decoration:none;
    color: red;
}
.box
{
    height: 5cm;
    width: 80%;
    
}